
table#tracker {
  float: left;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
}

}
table#tracker thead th { font-weight: 600; }
table#tracker thead th, table#tracker tbody td {
  padding: .8rem; font-size: 1.4rem;
}
table#tracker tbody td {
  text-align: left;
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee;
}
table#tracker tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table#tracker caption { background-image: none; }
  table#tracker thead { display: none; }
  table#tracker tbody td {
    display: block; padding: .6rem;
  }
  table#tracker tbody tr td:first-child {
    background: #666; color: #fff;
  }
	table#tracker tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}
